stages:
  - lint
  - test

variables:
  GO_VERSION: "1.23"
  GOPROXY: "https://proxy.golang.org"
  CGO_ENABLED: "1"

image: golang:${GO_VERSION}

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - go/pkg/mod
  policy: pull-push

.default_rules:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "production"

.before_script_template: &before_script
  - apt-get update && apt-get install -y git make
  - go version
  - go mod download
  - go mod verify

lint:
  stage: lint
  extends: .default_rules
  before_script:
    - *before_script
    - go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.60.0
  script:
    - make lint
  tags:
    - crm

test:
  stage: test
  extends: .default_rules
  before_script:
    - *before_script
  script:
    - make test
  tags:
    - crm

build:
  stage: test
  extends: .default_rules
  before_script:
    - *before_script
  script:
    - make build
  tags:
    - crm